config.h
*.o
*.o.cmd
*.o.d
*.order
*.order.cmd
*.mod
*.mod.c
*.mod.cmd
*.ko
*.ko.cmd
*.symvers
*.symvers.cmd
tty_module/divainclude
divactrl/Makefile
divactrl/config.log
divactrl/config.status
divactrl/divactrl
divactrl/load/dlistcc.c
divactrl/tmp
